html{
    box-sizing: border-box;
    display: block;
}

body{
    margin: 0;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    height: 100%;
    
}

.header{
  background-color:#000003;
  margin-bottom: 50px;
  }

.logo img{
float: left;
width: 100px;
height:100px;
margin-left: 5%;
margin-top: 10px;

}




.judul{
    padding-top: 50px;
    text-align: center;
    font-size: 55px;
    font-family:'Gill Sans';
    color: #57A0D3;
    float: left;
    padding-left: 12px;
}

.cp img{
    float: right;
width: 60px;
height:60px;
margin-right: 7.5%;
margin-top: 50px;
margin-bottom: -30px;
}

.cp p{color:white;
    clear: right;
text-align: right;
margin-right: 6%;
padding-top: 40px;
font-size: 15px;
}

ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li{
      float: left;
      margin-left: 30px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #57A0D3;
  }


.content1{
   
    background-image: url(bg1.jpg);
    margin-top: -3%;
    width: 100%;
}

.content1 article{
    margin-left: 3%;
    margin-right: 3%;
}


.content2{
    margin-left: 12px;
}


.footer{
    background-color:#000003;
    margin-top: 30%;
    background-size: cover;
    }

    .footer img{
        width: 60px;
        height:60px;
        margin-right: 9%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left:11% ;
        
         }
.fb img{float: left;}
.ig img{float: left;}
.email img{float: left;}

